
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: white;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

.lista_card {
    padding: 3em;
}

.lista_card .title {
    color: #272559;
    text-align: center;
    margin-bottom: 50px;
}

.lista_card .card {
    position: relative;
    top: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 3em;
    margin: 1em;
    box-shadow: 0 5px 10px 0 #b2bec3;
    transition: 0.3s;
    text-align: center;
    width: 30%;
    min-width: 300px;
}

.lista_card .card:hover {
    box-shadow: 0 10px 20px 0 #272559;
    cursor: pointer;
}

.card .nome-card {
    font-size: 20px;
    color: #272559;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
}

.card img {
    margin: auto;
    width: 50%;
    max-width: 100px;
}

.card .descrizione {
    color: gray;
    font-size: 90%;
    text-align: center;
    margin-bottom: 0.5em;
    height: 3em;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

#logout{
    display: none;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    padding: 2% 5% 2%;
    background: white;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 #272559;
    transition: 0.3s;
}
#logout-button {
    width: 45%;
    max-width: 100px;
    font-size: 2rem;
    padding: 6px;
    background-color: #F28E13;
    border-radius: 10px;
    border: 2px solid #F28E13;
    text-align: center;
    margin-top: 50px;
    color: white;
}

#logout-button:hover {
    border: 2px solid #272559;
    background-color: #272559;
}

#annulla-logout {
    max-width: 100px;
    width: 45%;
    font-size: 2rem;
    padding: 6px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #F28E13;
    text-align: center;
    margin-top: 50px;
    color: #F28E13;
}

#annulla-logout:hover {
    border: 2px solid #272559;
    color: #272559;
}