html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

#container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#container-card {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
}

.card img{
    width: 30%;
    max-width: 400px;
    min-width: 80px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 5px 10px 0 #b2bec3;
    transition: 0.3s;
}

.card #container-text{
    margin-left: 20px;
}

#container-riepilogo {
    width: 50%;

}

