
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: white;
}

.container-categorie{
    margin: 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.box{
    width: 85%;
}

#title {
    margin-top: 50px;
    font-size: 1.5em;
    color: #272559;
    text-align: center;
}

.box .categoria{
    position: relative;
    margin-bottom: 5%;
    padding: 30px;
    width: 100%;
    border-radius: 20px;
    color: #272559;
    background: white;
    box-shadow: 0 5px 25px 0 #b2bec3;
    transition: transform 0.5s;
}

.box .categoria:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #d8d9f2;
    box-shadow: 0 5px 25px 0 #272559;
    opacity: 1;
}

.box .categoria:hover #gruppo-button {
    background-color: white;
    border: 2px solid white;
    color: #272559;
    transition: 0.5s;
}

.box .categoria span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #2F2B8C;
    color: white;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
    transition: all 0.5s ease;
}

.box .categoria:hover span{
    background: white;
    color: #2F2B8C;
}

.box .categoria ul{
    list-style: none;
}

#gruppo-button {
    margin-top: 15px;
    font-size: 2rem;
    padding: 10px 5px;
    background-color: #F28E13;
    border-radius: 15px;
    border: 2px solid #F28E13;
    text-align: center;
    color: white;
}

.box .categoria:hover #gruppo-button:hover {
    cursor: pointer;
    background-color: #272559;
    border: 2px solid #272559;
    color: white;
    transition: 0.5s;
}