#container-myaccount{
    display: none;
    position: absolute;
    top: 0;
    left: 9%;
    width: 80%;
}

#box-myaccount{
    width: 40%;
    min-width: 250px;
    padding: 2% 5% 2%;
    margin: 100px auto 100px;
    background: white;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0 #272559;
    transition: 0.3s;
}

#title-myaccount{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #272559;
    text-align: center;
}

#exit{
    position: relative;
    left: 50%;
    padding: 0;
    margin: 0;
    width: 30px;
    cursor: pointer;
}

#MyAccountForm label{
    color: #272559;
    margin-bottom: 0;
}

#nomeId, #cognomeId, #indirizzoId, #capid, #paeseId, #telefonoId{
    font-size: 1.7rem;
    padding: 8px;
    width: 90%;
    background-color: white;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #272559;
    color: #272559;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 30px;
}

#box-myaccount #annulla{
    font-size: 2rem;
    padding: 6px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #F28E13;
    text-align: center;
    color: #F28E13;
    margin: 10px;
}

#box-myaccount input[type = "submit"]{
    font-size: 2rem;
    padding: 6px;
    background-color: #F28E13;
    border-radius: 10px;
    border: 2px solid #F28E13;
    text-align: center;
    color: white;
    margin: 10px;
}

#box-myaccount input[type = "submit"]:hover{
    cursor: pointer;
    background-color: #272559;
    border: 2px solid #272559;
    transition: 0.5s;
}

#modificaButton:hover{
    cursor: pointer;
    background-color: #272559;
    border: 2px solid #272559;
    transition: 0.5s;
}

#annulla:hover{
    cursor: pointer;
    background-color: #272559;
    border: 2px solid #272559;
    transition: 0.5s;
}

#box-myaccount #bottoni2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

#check{
    display: none;
    width: 25%;
    position: relative;
    left: 37%;
    margin-top: 20px;
    box-shadow: 0 10px 20px 0 #272559;
    border-radius: 10px;
}

#check > img{
    width: 15%;
    margin: 20px;
}

#check #checkTesto{
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}


