html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: white;
}

.card {
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    margin: 30px auto 30px auto;
    box-shadow: 0 5px 10px 0 #b2bec3;
    width: 90%;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 50px 50px;
}

#immagine{
    width: 35%;
    max-width: 500px;
    min-width: 300px;
    margin: 50px;
    box-shadow: 0 5px 10px 0 #b2bec3;
    border-radius: 30px;
}

#immagine img{
    width: 70%;
    margin: 10%;
}

#prodotto p {
    font-size: 1.3em;
}

#prodotto button{
    position: relative;
    margin-top: 5%;
    background-color: #F28E13;
    border: 2px solid #F28E13;
    border-radius: 15px;
    color: white;
    font-size: 1.5em;
    padding: 10px 15px;
}

#prodotto button:hover{
    background-color: #272559;
    color: white;
    border: 2px solid #272559;
}

#container-descrizione {
    margin: 30px 50px;
}

#container-descrizione h3, #prodotto h1 {
    color: #272559;
}